name: Memory Performance

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.11"]
        os: [ubuntu-latest, windows-latest, macos-latest]
        max_ram: [".5", "1", "4"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Cache Models
        id: cache-models
        uses: actions/cache@v3
        with:
          path: ~/.cache/huggingface
          key: models
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install psutil
      - name: Test Memory Usage
        run: env LANGUAGEMODELS_MAX_RAM=${{ matrix.max_ram }} make test-perf
