name: ARM64 Pi

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: pguyot/arm-runner-action@v2
      with:
        base_image: raspios_lite_arm64:latest
        image_additional_mb: 1024
        commands: |
            sudo apt install -y python3 python3-pip
            pip3 install -r requirements.txt
            make test-base
